.bg {
    width: 1600px;
	height: 66px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	position: relative;
	margin: auto;
	border-top: 4px solid #277b43;
}
.header {
    width: 100%;
    height: 70px;
    position: relative;
    display: block;
}
.bggroup {
    width: 1140px;
    height: 66px;
    position: relative;
    margin: auto;
}
.truyenhaylogo {
    width: 138px;
    height: 52px;
    object-fit: contain;
    margin-top: 7px;
}
.headertextgr {
    position: absolute;
    display: inline-block;
    width: 474px;
    height: 17px;
    top: 23px;
    margin-left: 36px;
}
.Danh-mc {
    width: 65px;
    height: 40px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #313541;
    display: inline-block;
}
.B-su-tp {
    width: 70px;
    height: 42px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #313541;
    margin-left: 30px;
    display: inline-block;
}
.Bng-xp-hng {
    width: 97px;
    height: 42px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #313541;
    display: inline-block;
    margin-left: 30px;
}
.Sng-tc {
    width: 58px;
    height: 17px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #313541;
    display: inline-block;
    margin-left: 30px;
}
.T-sch {
    width: 48px;
    height: 17px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #313541;
    display: inline-block;
    margin-left: 30px;
}
.Rectangle {
    width: 230px;
    height: 36px;
    border-radius: 3px;
    border: solid 1px #e4e7ec;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    margin-left: 615px;
    top: 15px;
}
img.search {
    width: 18px;
    height: 18px;
    object-fit: contain;
    margin-top: 8px;
    margin-left: 12px;
    position: absolute;
}
input.T-kha {
    width: 145px;
    height: 18px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8f96a2;
    border: 0px;
    position: absolute;
    margin-left: 42px;
    margin-top: 8px;
    padding-left: 10px;
}
img.clear {
    width: 16px;
    height: 16px;
    object-fit: contain;
    position: absolute;
    margin-left: 200px;
    margin-top: 8px;
    border-radius: 50%;
}
.avatar {
    height: 40px;
    position: absolute;
    width: 140px;
    margin-left: 865px;
    line-height: -6px;
    display: inline-block;
    margin-top: 12px;
}
img.user {
    width: 40px;
    height: 40px;
    object-fit: contain;
    position: absolute;
}
.ng-nhp {
    width: 72px;
    height: 17px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #313541;
    position: absolute;
    margin-left: 50px;
    margin-top: 11px;
}
img.Path-2 {
    width: 12px;
    height: 10px;
    object-fit: contain;
    position: absolute;
    margin-left: 119px;
    margin-top: 16px;
}
.body1 {
    position: relative;
    width: 100%;
    height: 85px;
}
.bd1 {
    height: 85px;
    width: 1600px;
    position: relative;
    margin: auto;
    background-color: #f5f6f8;
}
.bd1gr {
    height: 36px;
    width: 1140px;
    margin: auto;
    background-color: #f5f6f8;
    padding-top: 33px;
}
img.bookmark {
    width: 26px;
    height: 26px;
    object-fit: contain;
    top: 5px;
    position: relative;
}
.text {
    width: 200px;
    height: 26px;
    font-family: Gilroy;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: -0.2px;
    color: #313541;
    display: inline-block;
}
.Rectanglebd1 {
    width: 220px;
    height: 36px;
    border-radius: 3px;
    border: solid 1px #e4e7ec;
    background-color: #ffffff;
    float: right;
    position: relative;
}
input.Tt-c-th-loi {
    width: 165px;
    height: 32px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #313541;
    border: 0px;
    padding-left: 5px;
}
img.Path-2bd1 {
    width: 20px;
    height: 14px;
    object-fit: contain;
    position: absolute;
    margin-left: 25px;
    margin-top: 8px;
}
.body2 {
    height: 600px;
    width: 100%;
    position: relative;
}
.bd2 {
    height: 600px;
    width: 1600px;
    position: relative;
    margin: auto;
    background-color: #f5f6f8;
}
.bd2gr {
    height: 600px;
    width: 1140px;
    margin: auto;
    background-color: #f5f6f8;
}
.bd2content1 {
    width: 125px;
    height: 280px;
    position: relative;
    display: inline-block;
}
img.bd2img {
    width: 125px;
    height: 171.9px;
    border-radius: 4.7px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.title {
    width: 125px;
    height: 40px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.2px;
    color: #313541;
    margin-top: 16.1px;
}
.author {
    width: 125px;
    height: 20px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #8f96a2;
    margin-top: 5px;
}
img.rate {
    width: 50px;
    height: 19px;
    object-fit: contain;
    margin-top: 5px;
}
.bd2content2 {
    width: 125px;
    height: 280px;
    position: relative;
    display: inline-block;
    margin-left: 16px;
}
.bd2content3 {
    width: 125px;
    height: 280px;
    position: relative;
    display: inline-block;
    bottom: 0px;
    margin-top: 24px;
}
.bd2content4 {
    width: 125px;
    height: 280px;
    position: relative;
    display: inline-block;
    bottom: 0px;
    margin-top: 24px;
    margin-left: 16px;
}
.body3 {
    height: 725px;
    width: 100%;
    position: relative;
}
.body3 {
    height: 725px;
    width: 100%;
    position: relative;
}
.bd3 {
    height: 730px;
    width: 1600px;
    position: relative;
    margin: auto;
    background-color: #f5f6f8;
}
.bd3gr {
    height: 660px;
    width: 1140px;
    position: relative;
    margin: auto;
    background-color: #f5f6f8;
    padding-top: 50px;
}
.bd3left {
    height: 670px;
    width: 810px;
    position: relative;
    display: inline-block;
}
.bd3right {
    height: 670px;
    width: 300px;
    display: inline-block;
    position: relative;
    float: right;
}
.lefttop {
    height: 36px;
    width: 100%;
    position: relative;
    display: block;
}
.lefttable {
    width: 100%;
    height: 610px;
    position: relative;
    margin-top: 11px;
}
.bd3table {
    width: 810px;
    height: 40px;
    border: solid 1px #e4e7ec;
    background-color: #ffffff;
}
.tablecol1 {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 45%;
    border-right: 1px solid #e4e7ec;
}
.tablecol2 {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 28%;
    border-right: 1px solid #e4e7ec;
}
.tablecol3 {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 10%;
    border-right: 1px solid #e4e7ec;
}
.tablecol4 {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 15%;
}
.col1text {
    width: 295px;
    height: 20px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.2px;
    color: #313541;
    margin-top: 10px;
    margin-left: 15px;
    position: absolute;
}
.col2text {
    width: 190px;
    height: 20px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #313541;
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
}
.col3text {
    width: 60px;
    height: 20px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #393d48;
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
}
.col4text {
    width: 90px;
    height: 20px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #898b92;
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
}
img.hot1 {
    width: 45px;
    height: 18px;
    object-fit: contain;
    position: absolute;
    margin-top: 10px;
    margin-left: 265px;
}
img.hot2 {
    width: 45px;
    height: 18px;
    object-fit: contain;
    position: absolute;
    margin-top: 8px;
    margin-left: 155px;
}
img.hot3 {
    width: 45px;
    height: 18px;
    object-fit: contain;
    position: absolute;
    margin-top: 10px;
    margin-left: 280px;
}
img.hot4 {
    width: 45px;
    height: 18px;
    object-fit: contain;
    position: absolute;
    margin-top: 10px;
    margin-left: 270px;
}
img.hot5 {
    width: 45px;
    height: 18px;
    object-fit: contain;
    position: absolute;
    margin-top: 10px;
    margin-left: 155px;
}
.bullethead {
    height: 40px;
    width: 100%;
    display: block;
}
img.bulletimg1 {
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: -webkit-inline-box;
    margin-left: 18px;
    margin-top: 15px;
    position: absolute;
}
.h1 {
    width: 136px;
    height: 26px;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: 1px;
    color: #277b43;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: 49px;
}
img.bulletimg2 {
    width: 16px;
    height: 16px;
    object-fit: contain;
    float: right;
    margin-top: 16px;
    margin-right: 16px;
}
img.bulletimg3 {
    width: 26px;
    height: 6px;
    object-fit: contain;
    display: inline-block;
}
.h2 {
    width: 200px;
    height: 20px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.2px;
    color: #3f424e;
    display: inline-block;
}
.h3 {
    width: 40px;
    height: 20px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #898b92;
    float: right;
    margin-right: 20px;
}
.bullettext1 {
    height: 20px;
    width: 100%;
    position: relative;
    display: block;
    margin-top: 7px;
}
.bullet {
    width: 300px;
    height: 200px;
    border-radius: 3px;
    background-color: #ffffff;
}
.bullettext2 {
    height: 20px;
    width: 100%;
    position: relative;
    display: block;
    margin-top: 10px;
}
.rightbot {
    height: 455px;
    width: 300px;
    position: relative;
    margin-top: 13px;
    background-color: #ffffff;
}
.bd3table:nth-child(even) {
    background-color: #fafbfc;
}
.righthead {
    width: 300px;
    height: 46px;
    border-radius: 3px;
    background-image: linear-gradient(78deg, #25a550 -13%, #277b43 101%);
}
img.righthdimg1 {
    width: 20px;
    height: 19px;
    object-fit: contain;
    position: absolute;
    margin-top: 13px;
    margin-left: 16px;
}
.h4 {
    width: 162px;
    height: 26px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: 1px;
    color: #ffffff;
    position: absolute;
    margin-left: 45px;
    margin-top: 12px;
}
.rgbottext1 {
    height: 50px;
    width: 49%;
    position: relative;
    display: inline-block;
}
img.textimg {
    width: 24px;
    height: 34px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    display: inline-block;
    margin-top: 8px;
    margin-left: 15px;
}
img.righthdimg2 {
    width: 16px;
    height: 16px;
    object-fit: contain;
    float: right;
    margin-right: 16px;
    margin-top: 16px;
}
.h5 {
    width: 80px;
    height: 20px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.2px;
    color: #313541;
    position: absolute;
    margin-left: 53px;
    top: 15px;
}
.body4 {
    height: 390px;
    width: 100%;
    position: relative;
    display: block;
}
.bd4 {
    width: 1600px;
    height: 390px;
    background-color: #f5f6f8;
    margin: auto;
    position: relative;
}
.bd4gr {
    height: 390px;
    width: 1140px;
    position: relative;
    margin: auto;
}
.bd4head {
    width: 100%;
    height: 36px;
    padding-top: 54px;
}
.bd4content {
    width: 100%;
    height: 270px;
    position: relative;
    padding-top: 15px;
}
.bd4text {
    height: 280px;
    width: 125px;
    position: relative;
    display: inline-block;
}
img.bd4textimg1 {
    width: 125px;
    height: 171.9px;
    border-radius: 4.7px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.bd4text1 {
    width: 125px;
    height: 40px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.2px;
    color: #313541;
    margin-top: 16.1px;
}
.bd4text2 {
    width: 125px;
    height: 20px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #8f96a2;
    margin-top: 5px;
}
img.bd4textimg2 {
    width: 45px;
    height: 18px;
    object-fit: contain;
    margin-top: 5px;
}
.bd4textls {
    height: 280px;
    width: 125px;
    position: relative;
    display: inline-block;
    margin-left: 16px;
}
img.bd4textimg3 {
    width: 45px;
    height: 16px;
    object-fit: contain;
    opacity: 0.6;
    margin-top: 5px;
}
.body5 {
    height: 920px;
    width: 100%;
    position: relative;
    display: block;
}
.bd5gr {
    width: 1140px;
    height: 920px;
    margin: auto;
    position: relative;
    display: block;
    padding-top: 34px;
}
.bd5 {
    width: 1600px;
    height: 920px;
    background-color: #f5f6f8;
    margin: auto;
    position: relative;
    display: block;
}
.bd5left {
    height: 670px;
    width: 810px;
    position: relative;
    display: inline-block;
}
.bd5right {
    height: 805px;
    width: 300px;
    display: inline-block;
    position: relative;
    float: right;
    background-color: #ffffff;
}
.bd5lhead {
    height: 36px;
    width: 100%;
    position: relative;
    display: block;
}
.bd5lcontent {
    width: 810px;
    height: 725px;
    border-radius: 1px;
    background-color: #ffffff;
    margin-top: 12px;
    position: relative;
}
.bd5textgr {
    height: 140px;
    width: 50%;
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #f5f6f8;
    border-right: 1px solid #f5f6f8;
}
.bd5textgrs {
    height: 140px;
    width: 49%;
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #f5f6f8;
}
img.bd5limg {
    width: 80px;
    height: 110px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    position: absolute;
    margin-top: 14px;
}
.bd5lr {
    position: relative;
    height: 140px;
    width: 285px;
    float: right;
}
.bd5lr1 {
    width: 205px;
    height: 26px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: -0.16px;
    color: #313541;
    margin-top: 14px;
}
.bd5lr2 {
    height: 20px;
    width: 100%;
    margin-top: 3px;
    position: relative;
    display: block;
}
.bd5lbox {
    width: 65px;
    height: 18px;
    border-radius: 3px;
    border: solid 1px #e4e7ec;
    background-color: #f3f4f8;
    display: inline-block;
}
.bd5lh1 {
    width: 53px;
    height: 16px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #585f6a;
    margin: auto;
    margin-top: 2px;
}
.bd5lbox2 {
    width: 65px;
    height: 18px;
    border-radius: 3px;
    border: solid 1px #e4e7ec;
    background-color: #f3f4f8;
    display: inline-block;
    position: absolute;
    margin-left: 6.2px;
}
.bd5lbox3 {
    width: 65px;
    height: 18px;
    border-radius: 3px;
    border: solid 1px #e4e7ec;
    background-color: #f3f4f8;
    display: inline-block;
    position: absolute;
    margin-left: 79.2px;
}
.bd5lr3 {
    height: 15px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    display: block;
}
.bd5lh2 {
    width: 56px;
    height: 15px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8695a7;
    display: inline-block;
}
.bd5lh3 {
    width: 10px;
    height: 15px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #8695a7;
    display: inline-block;
}
.bd5lh4 {
    width: 140px;
    height: 15px;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313541;
    display: inline-block;
}
.bd5lr4 {
    height: 15px;
    width: 100%;
    margin-top: 5px;
    position: relative;
    display: block;
}
.bd5rtop {
    width: 300px;
    height: 46px;
    border-radius: 3px;
    background-image: linear-gradient(78deg, #25a550 -13%, #277b43 101%);
    position: relative;
    display: block;
}
.bd5rcontent {
    height: 55px;
    width: 100%;
    display: block;
    position: relative;
    margin-top: 20px;
}
.bd5rcontent2 {
    height: 55px;
    width: 100%;
    display: block;
    position: relative;
    margin-top: 20px;
}
img.bd5rimg1 {
    width: 40px;
    height: 55px;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    position: absolute;
}
.bd5rtext2 {
    height: 20px;
    width: 205px;
    position: absolute;
    margin-left: 70px;
    margin-top: 25px;
}
.bd5rtext1 {
    width: 205px;
    height: 20px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: -0.18px;
    color: #313541;
    position: absolute;
    margin-left: 70px;
}
.bd5rtext3 {
    float: right;
    position: relative;
    width: 20px;
    height: 32px;
    object-fit: contain;
    background-image: linear-gradient(212deg, #ff9e3c 99%, #e57300 0%);
}
.bd5lrtext4 {
    position: absolute;
    top: 3px;
    left: 5px;
    color: #ffffff;
}
img.bd5lrimg2 {
    width: 20px;
    height: 32px;
    object-fit: contain;
}
.bd5rtext3 {
    float: right;
    position: relative;
    width: 20px;
    height: 25px;
    object-fit: contain;
    margin-right: 15px;
}
.bd5lrtext5 {
    position: absolute;
    top: 3px;
    left: 2px;
    color: #ffffff;
}
.body6 {
    position: relative;
    height: 45px;
    width: 100%;
    display: block;
}
.bd6 {
    height: 45px;
    width: 1600px;
    margin: auto;
    background-color: #ffffff;
    border-bottom: 1px solid #f5f6f8;
    border-right: 1px solid #f5f6f8;
    border-left: 1px solid #f5f6f8;
}
.bd6gr {
    height: 45px;
    width: 1140px;
    margin: auto;
    position: relative;
}
.bd6left {
    height: 45px;
    width: 800px;
    position: relative;
    display: inline-block;
}
img.bd6img1 {
  	width: 20px;
  	height: 20px;
  	object-fit: contain;
}
.bd6ltext1 {
    width: 89px;
    height: 17px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #313541;
    display: inline-block;
    margin-left: 30px;
}
.bd6right {
    position: relative;
    height: 45px;
    width: 150px;
    float: right;
}
.footer {
    height: 260px;
    width: 100%;
    position: relative;
}
.ft {
    height: 260px;
    width: 1600px;
    margin: auto;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
}
.ftgr {
    height: 260px;
    width: 1140px;
    position: relative;
    margin: auto;
}
.ftleft {
    width: 330px;
    display: inline-block;
    position: relative;
    height: 260px;
}
img.ftimg1 {
    width: 138px;
    height: 51px;
    object-fit: contain;
    margin-top: 22px;
}
.ftltext1 {
    width: 330px;
    height: 100px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #313541;
    margin-top: 13px;
}
.ftltext2 {
    width: 167px;
    height: 17px;
    font-family: SourceSansPro;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #313541;
    margin-top: 17px;
}
.ftcenter {
    height: 265px;
    width: 350px;
    display: inline-block;
    position: absolute;
    margin-left: 75px;
}
.ftctop {
    width: 119px;
    height: 26px;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.16px;
    color: #313541;
    margin: auto;
    margin-top: 30px;
    display: block;
}
.ftctext {
    height: 14px;
    width: 49%;
    display: inline-block;
    margin-top: 15px;
}
.content {
    width: 145px;
    height: 14px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #313541;
    display: inline-block;
}
img.ftcimg1 {
    width: 14px;
    height: 14px;
    object-fit: contain;
    display: inline-block;
}
.ftright {
    width: 300px;
    height: 150px;
    display: inline-block;
    float: right;
    margin-top: 30px;
}
img.ftrimg1 {
    width: 300px;
    height: 150px;
}
a.amc {
    width: 65px;
    height: 40px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #313541;
    display: inline-block;
    text-decoration: none;
}
.hover1 {
    height: 365px;
    width: 300px;
    background-color: #ffffff;
    z-index: 5;
    position: absolute;
    display: none;
}
.hovtext1 {
    height: 25px;
    width: 80px;
    position: relative;
    display: inline-block;
    padding-top: 5px;
    margin-left: 10px;
}
.Danh-mc:hover .hover1 {
    display: block;
}
.hover1:hover .hover1 {
    display: block;
}
.Danh-mc:hover .amc {
    color: #277b43;
}
a.ahov1 {
    color: #000000;
    text-decoration: none;
}
.hovtext1:hover .ahov1 {
    color: #277b43;
}
a.asutp {
    width: 70px;
    height: 17px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #313541;
    display: inline-block;
    text-decoration: none;
}
.hover2 {
    position: absolute;
    height: 175px;
    width: 200px;
    z-index: 5;
    margin-top: 23px;
    background-color: #ffffff;
    display: none;
}
.hovtext2 {
    height: 30px;
    width: 180px;
    margin-left: 15px;
    margin-top: 15px;
}
.B-su-tp:hover .hover2 {
    display: block;
}
.hover2:hover .hover2 {
    display: block;
}
.B-su-tp:hover .asutp {
    color: #277b43;
}
.hovtext2:hover .ahov1 {
    color: #277b43;
}
a.abxh {
    width: 97px;
    height: 42px;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #313541;
    display: inline-block;
    text-decoration: none;
}
.hover3 {
    height: 280px;
    width: 200px;
    position: absolute;
    background-color: #ffffff;
    z-index: 6;
    display: none;
    margin-top: -1px;
}
.hovtext3 {
    display: block;
    width: 180px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.Bng-xp-hng:hover .hover3 {
    display: block;
}
.Bng-xp-hng:hover .abxh {
    color: #277b43;
}
.hovtext3:hover .ahov1 {
    color: #277b43;
}
.menu {
    height: 30px;
    width: 100%;
    position: relative;
    display: none;
}
.mn {
    width: 80%;
    height: 30px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
}
a.aoctext {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 16px;
    color: #313541;
    text-decoration: none;
}
button.mntext {
    height: 30px;
    width: 100px;
    border: 0px;
    background-color: #277b43;
    margin: auto;
    color: #ffffff;
}
.onclick {
    top: 0px;
    height: 100%;
    width: 300px;
    position: fixed;
    background-color: #ffffff;
    z-index: 60;
    display: none;
    left: 20px;
}
.octop {
    height: 80px;
    width: 300px;
    background-color: #277b43;
    border-radius: 0px 0px 15px 15px;
}
.occenter {
    height: 500px;
    width: 100%;
    position: relative;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 16px;
    color: #313541;
}
.octext {
    height: 30px;
    margin-top:30px;
    margin-left: 25px;
    width: 250px;
    border-bottom: 1px solid #9e9e9e;
}
img.ocimg {
    height: 45px;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 50%;
}
dir.octoptext {
    height: 30px;
    width: 100px;
    position: absolute;
    margin-left: 50px;
    color: #ffffff;
    top: 0px;
    font-size: 20px;
}
img.occimg {
    height: 15px;
    position: absolute;
    margin-top: -30px;
    margin-left: 270px;
}
.black {
    background-color: #000000;
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0.8;
    top: 0px;
    left: 0px;
    z-index: 50;
    display: none;
}
.signin {
    height: 250px;
    width: 500px;
    position: absolute;
    display: none;
    margin: auto;
    z-index: 60;
    margin-top: 100px;
    margin-left: 500px;
}
.sitop {
    height: 70px;
    width: 100%;
    position: relative;
    background-color: #277b43;
    border-radius: 35px 35px 0px 0px;
    border: 1px solid #277b43;
}
a.sitoptext {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    line-height: 65px;
    margin-left: 180px;
}
.snbot {
    width: 100%;
    height: 180px;
    position: relative;
    background-color: #ffffff;
    border-radius: 0px 0px 35px 35px;
    border: 1px solid #277b43;
}
.snbtext1 {
    height: 35px;
    width: 100%;
    position: relative;
    padding-top: 20px;
}
a.asnb {
    color: #000000;
    text-decoration: none;
    margin-left: 80px;
    font-size: 18px;
    line-height: 35px;
}
input.snbinput {
    height: 20px;
    width: 225px;
    float: right;
    margin-right: 100px;
}
button.signinbtn {
    margin-top: 15px;
    margin-left: 210px;
    height: 35px;
    width: 100px;
}
a.ang-dn {
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #313541;
    text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 1125px){
	.menu {
		display: block;
	}
	.bg {
		width: 80%;
	}
	.bggroup{
		width: 100%;
	}
	.headertextgr{
		display: none;
	}
	.Rectangle{
		display: none;
	}
	.avatar {
    	margin-left: 0%;
    	float: right;
    	position: relative;
	}
	.bd1gr {
		width: 100%;
	}
	.bd1{
		width: 80%;
	}
	.bd2 {
    	height: 330px;
    	width: 80%;
    	overflow: auto;
	}
	.bd2gr{
		width: 2800px;
		height: 340px;
	}
	.body3{
		display: none;
	}
	.body2 {
		height: 330px;
	}
	.bd4{
		width: 80%;
		overflow: auto;
	}
	.bd5{
		width: 80%;
		margin: auto;
		height: 1635px;
	}
	.bd5lr{
		width: 70%;
	}
	.bd5gr{
		width: 100%;
		height: 1635px;
	}
	.bd5left{
		width: 100%;
		display: block;
		height: 780px;
	}
	.bd5lhead{
		width: 100%;

	}
	.bd5right{
		float: none;
    	width: 300px;
    	display: block;
    	margin: auto;
	}
	.body5{
		height: 1635px;
	}
	.bd6{
		width: 80%;
	}
	.bd6ltext1{
		display: none;
	}
	.bd6gr{
		width: 80%;
	}
	.bd6left{
		width: 50px;
	}
	.ftgr{
		width: 80%;
		height: 525px
	}
	.ftright{
		display: none;
	}
	.ft{
		width: 80%;
		height: 525px;
	}
	.ftleft{
		margin: auto;
		display: block;
	}
	.bd5lcontent{
		width: 100%;
		overflow: auto;
		height: 695px;
	}
	.bd5textgr{
		width: 70%;
		display: block;
		margin: auto;
		border-right: 0px;
	}
	.bd5textgrs{
		width: 70%;
		display: block;
		margin: auto;
	}
	.ftcenter{
		margin-left: 0px;
		display:block;
		margin: auto;
		position: relative;
	}
}
@media only screen and (min-width: 685px) and (max-width: 767px){
	.bg {
		width: 80%;
	}
	.menu {
		display: block;
	}
	.bggroup{
		width: 100%;
	}
	.headertextgr{
		display: none;
	}
	.Rectangle{
		display: none;
	}
	.avatar {
    	margin-left: 0%;
    	float: right;
    	position: relative;
	}
	.bd1gr {
		width: 100%;
	}
	.bd1{
		width: 80%;
	}
	.bd2 {
    	height: 330px;
    	width: 80%;
    	overflow: auto;
	}
	.bd2gr{
		width: 2800px;
		height: 340px;
	}
	.body3{
		display: none;
	}
	.body2 {
		height: 330px;
	}
	.bd4{
		width: 80%;
		overflow: auto;
	}
	.bd5{
		width: 80%;
		margin: auto;
		height: 1635px;
	}
	.bd5gr{
		width: 100%;
		height: 1635px;
	}
	.bd5lr{
		width: 70%;
	}
	.bd5left{
		width: 100%;
		display: block;
		height: 780px;
	}
	.bd5lhead{
		width: 100%;

	}
	.bd5right{
		float: none;
    	width: 300px;
    	display: block;
    	margin: auto;
	}
	.body5{
		height: 1635px;
	}
	.bd6{
		width: 80%;
	}
	.bd6ltext1{
		display: none;
	}
	.bd6gr{
		width: 80%;
	}
	.bd6left{
		width: 50px;
	}
	.ftgr{
		width: 80%;
		height: 525px
	}
	.ftright{
		display: none;
	}
	.ft{
		width: 80%;
		height: 525px;
	}
	.ftleft{
		margin: auto;
		display: block;
	}
	.bd5lcontent{
		width: 100%;
		overflow: auto;
		height: 695px;
	}
	.bd5textgr{
		width: 80%;
		display: block;
		margin: auto;
		border-right: 0px;
	}
	.bd5textgrs{
		width: 80%;
		display: block;
		margin: auto;
	}
}
@media only screen and (min-width: 508px) and (max-width: 684px){
	.bg {
		width: 80%;
	}
	.menu {
		display: block;
	}
	.bggroup{
		width: 100%;
	}
	.headertextgr{
		display: none;
	}
	.Rectangle{
		display: none;
	}
	.avatar {
    	margin-left: 0%;
    	float: right;
    	position: relative;
	}
	.bd1gr {
		width: 100%;
	}
	.bd1{
		width: 80%;
	}
	.bd2 {
    	height: 330px;
    	width: 80%;
    	overflow: auto;
	}
	.bd2gr{
		width: 2800px;
		height: 340px;
	}
	.body3{
		display: none;
	}
	.body2 {
		height: 330px;
	}
	.bd4{
		width: 80%;
		overflow: auto;
	}
	.bd5{
		width: 80%;
		margin: auto;
		height: 1635px;
	}
	.bd5gr{
		width: 100%;
		height: 1635px;
	}
	.bd5left{
		width: 100%;
		display: block;
		height: 780px;
	}
	.bd5lr{
		width: 70%;
	}
	.bd5lhead{
		width: 100%;

	}
	.bd5right{
		float: none;
    	width: 300px;
    	display: block;
    	margin: auto;
	}
	.body5{
		height: 1635px;
	}
	.bd6{
		width: 80%;
	}
	.bd6ltext1{
		display: none;
	}
	.bd6gr{
		width: 80%;
	}
	.bd6left{
		width: 50px;
	}
	.ftgr{
		width: 80%;
		height: 525px
	}
	.ftright{
		display: none;
	}
	.ft{
		width: 80%;
		height: 525px;
	}
	.ftleft{
		margin: auto;
		display: block;
	}
	.bd5lcontent{
		width: 100%;
		overflow: auto;
		height: 695px;
	}
	.bd5textgr{
		width: 100%;
		display: block;
		margin: auto;
		border-right: 0px;
	}
	.bd5textgrs{
		width: 100%;
		display: block;
		margin: auto;
	}
	.ftcenter{
		position: relative;
		display: block;
		margin-left: 0px;
		margin: auto;
	}
	.ftltext1{
		width: 85%;
	}
	.Rectanglebd1 {
		display: none;
	}
}
@media only screen and (min-width: 475px) and (max-width: 507px){
	.bg {
		width: 80%;
	}
	.menu {
		display: block;
	}
	.bggroup{
		width: 100%;
	}
	.headertextgr{
		display: none;
	}
	.Rectangle{
		display: none;
	}
	.avatar {
    	margin-left: 0%;
    	float: right;
    	position: relative;
	}
	.bd1gr {
		width: 100%;
	}
	.bd1{
		width: 80%;
	}
	.bd2 {
    	height: 330px;
    	width: 80%;
    	overflow: auto;
	}
	.bd2gr{
		width: 2800px;
		height: 340px;
	}
	.body3{
		display: none;
	}
	.body2 {
		height: 330px;
	}
	.bd4{
		width: 80%;
		overflow: auto;
	}
	.bd5{
		width: 80%;
		margin: auto;
		height: 1635px;
	}
	.bd5gr{
		width: 100%;
		height: 1635px;
	}
	.bd5left{
		width: 100%;
		display: block;
		height: 780px;
	}
	.bd5lhead{
		width: 100%;

	}
	.bd5right{
		float: none;
    	width: 300px;
    	display: block;
    	margin: auto;
	}
	.body5{
		height: 1635px;
	}
	.bd6{
		width: 80%;
	}
	.bd6ltext1{
		display: none;
	}
	.bd6gr{
		width: 80%;
	}
	.bd6left{
		width: 50px;
	}
	.ftgr{
		width: 80%;
		height: 525px
	}
	.ftright{
		display: none;
	}
	.ft{
		width: 80%;
		height: 525px;
	}
	.ftleft{
		margin: auto;
		display: block;
	}
	.bd5lcontent{
		width: 100%;
		overflow: auto;
		height: 695px;
	}
	.bd5textgr{
		width: 100%;
		display: block;
		margin: auto;
		border-right: 0px;
	}
	.bd5textgrs{
		width: 100%;
		display: block;
		margin: auto;
	}
	.ftcenter{
		position: relative;
		display: block;
		margin-left: 0px;
		margin: auto;
	}
	.ftltext1{
		width: 85%;
	}
	.Rectanglebd1 {
		display: none;
	}
	.bd5lr{
		width: 220px;
	}
	.ftctext{
		display: block;
	}
}
@media only screen and (min-width: 455px) and (max-width: 574px){
	.bg {
		width: 80%;
	}
	.menu {
		display: block;
	}
	.menu {
		display: block;
	}
	.bggroup{
		width: 100%;
	}
	.headertextgr{
		display: none;
	}
	.Rectangle{
		display: none;
	}
	.avatar {
    	margin-left: 0%;
    	float: right;
    	position: relative;
	}
	.bd1gr {
		width: 100%;
	}
	.bd1{
		width: 80%;
	}
	.bd2 {
    	height: 330px;
    	width: 80%;
    	overflow: auto;
	}
	.bd2gr{
		width: 2800px;
		height: 340px;
	}
	.body3{
		display: none;
	}
	.body2 {
		height: 330px;
	}
	.bd4{
		width: 80%;
		overflow: auto;
	}
	.bd5{
		width: 80%;
		margin: auto;
		height: 1635px;
	}
	.bd5gr{
		width: 100%;
		height: 1635px;
	}
	.bd5left{
		width: 100%;
		display: block;
		height: 780px;
	}
	.bd5lhead{
		width: 100%;

	}
	.bd5right{
		float: none;
    	width: 300px;
    	display: block;
    	margin: auto;
	}
	.body5{
		height: 1635px;
	}
	.bd6{
		width: 80%;
	}
	.bd6ltext1{
		display: none;
	}
	.bd6gr{
		width: 80%;
	}
	.bd6left{
		width: 50px;
	}
	.ftgr{
		width: 80%;
		height: 525px
	}
	.ftright{
		display: none;
	}
	.ft{
		width: 80%;
		height: 525px;
	}
	.ftleft{
		margin: auto;
		display: block;
	}
	.bd5lcontent{
		width: 100%;
		overflow: auto;
		height: 695px;
	}
	.bd5textgr{
		width: 100%;
		display: block;
		margin: auto;
		border-right: 0px;
	}
	.bd5textgrs{
		width: 100%;
		display: block;
		margin: auto;
	}
	.ftcenter{
		position: relative;
		display: block;
		margin-left: 0px;
		margin: auto;
	}
	.ftltext1{
		width: 85%;
	}
	.Rectanglebd1 {
		display: none;
	}
	.bd5lr{
		width: 70%;
	}
	.ftctext{
		display: block;
	}
}
@media only screen and (min-width: 425px) and (max-width: 454px){
	.bg {
		width: 80%;
	}
	.menu {
		display: block;
	}
	.bggroup{
		width: 100%;
	}
	.headertextgr{
		display: none;
	}
	.Rectangle{
		display: none;
	}
	.avatar {
    	margin-left: 0%;
    	float: right;
    	position: relative;
	}
	.bd1gr {
		width: 100%;
	}
	.bd1{
		width: 80%;
	}
	.bd2 {
    	height: 330px;
    	width: 80%;
    	overflow: auto;
	}
	.bd2gr{
		width: 2800px;
		height: 340px;
	}
	.body3{
		display: none;
	}
	.body2 {
		height: 330px;
	}
	.bd4{
		width: 80%;
		overflow: auto;
	}
	.bd5{
		width: 80%;
		margin: auto;
		height: 840px;
	}
	.bd5gr{
		width: 100%;
		height: 840px;
	}
	.bd5left{
		display: none;
	}
	.bd5lhead{
		width: 100%;

	}
	.bd5right{
		float: none;
    	width: 300px;
    	display: block;
    	margin: auto;
	}
	.body5{
		height: 840px;
	}
	.bd6{
		width: 80%;
	}
	.bd6ltext1{
		display: none;
	}
	.bd6gr{
		width: 80%;
	}
	.bd6left{
		width: 50px;
	}
	.ftgr{
		width: 80%;
		height: 525px
	}
	.ftright{
		display: none;
	}
	.ft{
		width: 80%;
		height: 630px;
	}
	.ftleft{
		margin: auto;
		display: block;
	}
	.bd5lcontent{
		width: 100%;
		overflow: auto;
		height: 695px;
	}
	.bd5textgr{
		width: 100%;
		display: block;
		margin: auto;
		border-right: 0px;
	}
	.bd5textgrs{
		width: 100%;
		display: block;
		margin: auto;
	}
	.ftcenter{
		position: relative;
		display: block;
		margin-left: 0px;
		margin: auto;
	}
	.ftltext1{
		width: 60%;
	}
	.ftltext2{
		margin-top: 60px;
	}
	.Rectanglebd1 {
		display: none;
	}
	.bd5lr{
		width: 217px;
	}
	.ftctext{
		display: block;
	}
	.ftctop{
		margin-left: 0px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 424px){
	.bg {
		width: 80%;
	}
	.menu {
		display: block;
	}
	.bggroup{
		width: 100%;
	}
	.headertextgr{
		display: none;
	}
	.Rectangle{
		display: none;
	}
	.avatar {
    	display: none;
	}
	.bd1gr {
		width: 100%;
	}
	.bd1{
		width: 80%;
	}
	.bd2 {
    	height: 330px;
    	width: 80%;
    	overflow: auto;
	}
	.bd2gr{
		width: 2800px;
		height: 340px;
	}
	.body3{
		display: none;
	}
	.body2 {
		height: 330px;
	}
	.bd4{
		width: 80%;
		overflow: auto;
	}
	.bd5{
		display: none;
	}
	.bd5gr{
		width: 100%;
		height: 1635px;
	}
	.bd5left{
		display: none;
	}
	.bd5lhead{
		width: 100%;

	}
	.bd5right{
		float: none;
    	width: 300px;
    	display: block;
    	margin: auto;
	}
	.body5{
		display: none;
	}
	.bd6{
		width: 80%;
	}
	.bd6ltext1{
		display: none;
	}
	.bd6gr{
		width: 80%;
	}
	.bd6left{
		display: none;
	}
	.ftgr{
		width: 80%;
		height: 525px
	}
	.ftright{
		display: none;
	}
	.ft{
		width: 80%;
		height: 615px;
	}
	.ftleft{
		margin: auto;
		display: block;
	}
	.bd5lcontent{
		width: 100%;
		overflow: auto;
		height: 695px;
	}
	.bd5textgr{
		width: 100%;
		display: block;
		margin: auto;
		border-right: 0px;
	}
	.bd5textgrs{
		width: 100%;
		display: block;
		margin: auto;
	}
	.ftcenter{
		position: relative;
		display: block;
		margin-left: 0px;
		margin: auto;
	}
	.ftltext1{
		width: 60%;
	}
	.Rectanglebd1 {
		display: none;
	}
	.bd5lr{
		width: 217px;
	}
	.ftctext{
		display: block;
	}
	.ftltext2 {
		margin-top: 55px;
	}
	.ftctop{
		margin-left: 0px;
	}
}
